// Specific CSS for your home-page
// _variables.scss (or at the top of your SCSS file)
$btn-hover: #9DB8A5;
$accent-colour: #ff7f50;
$text-colour: #333333;
$background-colour: #fff8f0;
$btn-colour: #ffe0a4;
$btn-gradient: linear-gradient(317deg, #ff7f50, #ffe0a4);
$btn-gradient-size: 400% 400%;
$btn-animation: AnimationName 8s ease infinite;

:root {
  --gold1: #FFC857;
  --gold2: #FFE0A4;
  --coral: #FF7F50;
  --sage: #9DB8A5;
  --bg: #FFF9EC;
  --text: #2F3132;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

.header .logo {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 35px;
  padding-left: 1rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 100;
  font-style: normal;
  color: var(--text);
  padding-top: -4rem;
}

.hero-text p {
  margin-bottom: 3rem;
  font-weight: 100;
  padding-bottom: 2rem;
}

.hero-visual {
  width: 700px;
  height: 700px;
  background: linear-gradient(to bottom right, var(--gold2), var(--coral));
  border-radius: 16px;
  /*box-shadow: 0 8px 24px rgba(0,0,0,0.05);*/
}


.btn-container {
  display: flex;
  justify-content: flex-start; /* or space-between, depending on layout */
  align-items: center;
  gap: 1rem;
}

#btn-join a {
  background: linear-gradient(to bottom right, var(--gold1), var(--gold2));
  border: none;
  border-radius: 25px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 17px 55px;
  cursor: pointer;
  transition: transform 0.9s ease;
}

#btn-join a:hover {
  background: var(--gold2); /* slightly darker on hover */
}

.btn-log a {
  background: none;
  border: solid;
  border-radius: 25px;
  border-color: var(--text);
  border-width: 1px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 17px 55px;
  cursor: pointer;
  transition: transform 10s ease;
}

.btn-log a:hover {
  border-color: var(--text);
  border-width: 2px;
  border: solid;
}
